[{elvis,
  [{config,
    [#{dirs => ["src/**", "test/**"],
       filter => "*.erl",
       ruleset => erl_files,
       % these are not enforced by default, so are added here for completeness
       rules =>
           [{elvis_style, max_module_length, #{}},
             {elvis_style, no_common_caveats_call, #{}},
             {elvis_style,
             no_block_expressions,
             #{ignore => [elvis, elvis_utils, hashmap_set_monoid_property_SUITE, hashmap_set_default_property_SUITE]}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config,
       rules => []},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config,
       rules => []}]},
   {verbose, true}]}].